<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div id="content">{{{markup}}}</div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="js/libs/vibrant.js"></script>
  <script src="js/bundle.js"></script>
  <link rel="stylesheet" href="css/logos.css" />
</html>

