.filters {
	background: rgba(255,255,255,0.7);
	border-radius: 3px;
	border: 1px solid @light-grey;
	float: left;
	margin-top: 10px;
	padding: 20px;
	position: relative;
	width: 25%;
	&:after {
		.rotate (90deg);
		background: rgba(255,255,255,1);
		background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9Ii0yNTYgMzQ3LjkgOTguMSA5OC4xIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IC0yNTYgMzQ3LjkgOTguMSA5OC4xIiB4bWw6c3BhY2U9InByZXNlcnZlIj48Zz48cGF0aCBkPSJNLTE1OC40LDQxMi41bC00Ny4xLTQ3LjFjLTAuOC0wLjgtMi4xLTAuOC0yLjgsMGwtNDcuMSw0Ny4xYy0wLjQsMC40LTAuNiwwLjktMC42LDEuNHMwLjIsMSwwLjYsMS40bDEzLDEzYzAuNCwwLjQsMC45LDAuNiwxLjQsMC42czEtMC4yLDEuNC0wLjZsMzIuNy0zMi43bDMyLjcsMzIuN2MwLjgsMC44LDIuMSwwLjgsMi44LDBsMTMtMTNDLTE1Ny43LDQxNC42LTE1Ny43LDQxMy4zLTE1OC40LDQxMi41eiIvPjwvZz48L3N2Zz4=');
		background-position: 90% center;
		background-repeat: no-repeat;
		background-size: auto 40%;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		border-left: 1px solid @light-grey;
		border-right: 1px solid @light-grey;
		border-top: 1px solid @light-grey;
		content: 'Filters';
		display: none;
		padding: 5px 25px 0 5px;
		position: absolute;
		right: -56px;
		top: 80px;

		@media only screen and (max-width: 910px) {
			display: block;
		}
	}

	&.open:after {
		background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9Ii0yNTYgMzQ3LjkgOTguMSA5OC4xIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IC0yNTYgMzQ3LjkgOTguMSA5OC4xIiB4bWw6c3BhY2U9InByZXNlcnZlIj48Zz48cGF0aCBkPSJNLTE1OC40LDM3OC41bC0xMy0xM2MtMC44LTAuOC0yLjEtMC44LTIuOCwwbC0zMi43LDMyLjdsLTMyLjctMzIuN2MtMC40LTAuNC0wLjktMC42LTEuNC0wLjZzLTEsMC4yLTEuNCwwLjZsLTEzLDEzYy0wLjQsMC40LTAuNiwwLjktMC42LDEuNHMwLjIsMSwwLjYsMS40bDQ3LjEsNDcuMWMwLjgsMC44LDIuMSwwLjgsMi44LDBsNDcuMS00Ny4xQy0xNTcuNywzODAuNS0xNTcuNywzNzkuMy0xNTguNCwzNzguNXoiLz48L2c+PC9zdmc+');
	}

	@media only screen and (max-width: 910px) {
		.transition(~'all .3s linear');
		.translate (-260px, 0px);
		background: rgba(255,255,255,1);
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		position: absolute;
		width: 250px;
		z-index: 1;

		&.open {
			.translate (-20px, 0px);
		}
	}

	.filter-grp {
		border-bottom: 1px dashed @mid-grey;
		padding: 20px 0 10px;
		&:last-child {
			border-bottom: none;
		}
	}

	input[type='checkbox'] {
		margin-top: 0;
		vertical-align: middle;
	}

	label {
		margin-left: 10px;
	}
}