#projects {
	.transition(~'all 0.5s ease');
	background: @light-grey;
	clear: both;
	float: none;
	overflow: hidden;
	padding: 60px 20px;

	> div {
		margin-top: 10px;
	}

	.project-title {
		background: @deep-pink;
		color: @white;
		margin: 0 0 20px 20px;
		&:after {
			background: @deep-pink;
		}
	}

	.project-list {
		float: right;
		width: 79%;

		> div {
			margin: 0 auto;
		}
	}

	.project-row {
		.flex-display();
		.flex-wrap(wrap);
	}

	.project-tile {
		.flex();
		background-color: @white;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 90% auto;
		border-radius: 3px;
		box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
		cursor: pointer;
		height: 250px;
		margin: 10px;
		position: relative;
		width: 250px;

		&.brand-xbox {
			background-size: 65% auto;
		}

		h4 {
			.font-size(16);
			background: @deep-pink;
			color: @white;
			padding: 5px 10px;
		}
	}

	.project-detail-container {
		height: 0;
		overflow: hidden;
	}

	.project-detail {
		.transition(~'all 0.3s ease');
		background: @white;
		border-radius: 3px;
		box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
		height: 0;
		margin: 20px 10px;
		overflow: hidden;
		padding: 20px;
		width: 100%;
	}

	.project-img {
		.flex-display();
		.flex-direction(column);
		.justify-content(center);
		float: left;
		width: 55%;

		img {
			.flex();
			width: 90%;
		}
	}

	.project-desc {
		float: right;
		width: 44%;

		ul {
			background: rgba(0,0,0,0.6);
			border-radius: 3px;
			margin-top: 20px;
			padding: 10px;
		}

		li {
			color: @white;
			display: inline-block;
			margin-right: 10px;
		}
	}
}