#projects {
	clear: both;
	float: none;
	overflow: hidden;
	padding: 40px 20px;

	.filters {
		float: left;
		width: 20%;
	}

	.project-list {
		float: right;
		width: 79%;
	}

	.project-row {
		.flex-display();
	}

	.project-tile {
		.flex();
		border: 1px solid #999;
		box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
		cursor: pointer;
		height: 250px;
		margin: 10px;
		overflow: hidden;
		width: 250px;
	}
}